@{
    ViewData["Title"] = "Listagem de Livros";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start"> <!--Classe para alinhar a direita-->
        <!-- 
            * asp-controller = Serve para identificar controle será usado.
            * asp-action = Serve para identificar qual view será usada.
        -->
        <a class="btn btn-primary" role="button" asp-controller="Livro" asp-action="Cadastrar">Cadastrar Novo Livro</a>
    </div>
    <br />
    <h1 class="display-4">Listagem de Livros</h1>

<table class="table">
    <thead>
        <!--Aqui altera a cor do cabeçalho-->
        <tr>
            <!--Colunas-->
            <th scope="col">#</th>
            <th scope="col">Título do Livro</th>
            <th scope="col">Editora</th>
            <th scope="col">Ano</th>
            <th scope="col">Edição</th>
            <th scope="col">Idioma</th>
            <th scope="col">Categoria</th>
            <th scope="col">ISBN</th>
            <th scope="col">CDD</th>
            <th scope="col">Estante</th>
            <th scope="col">Prateleira</th>
            <th scope="col">Observações</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Delphi 6 - Firebird/Interbase</td>
            <td>Érica</td>
            <td>2006</td>
            <td>1º Edição</td>
            <td>Português</td>
            <td>Informática</td>
            <td>85-7194-845-3</td>
            <td>303.483</td>
            <td>I</td>
            <td>6</td>
            <td>Livro de Programação</td>
            <td>
                <!--Botões-->
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-warning" asp-controller="Livro" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger" asp-controller="Livro" asp-action="Apagar">Apagar</a>
                </div>
            </td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Delphi 6 - Firebird/Interbase</td>
            <td>Érica</td>
            <td>2006</td>
            <td>1º Edição</td>
            <td>Português</td>
            <td>Informática</td>
            <td>85-7194-845-3</td>
            <td>303.483</td>
            <td>I</td>
            <td>6</td>
            <td>Livro de Programação</td>
            <td>
                <!--Botões-->
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-warning" asp-controller="Livro" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger"  asp-controller="Livro" asp-action="Apagar">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Delphi 6 - Firebird/Interbase</td>
            <td>Érica</td>
            <td>2006</td>
            <td>1º Edição</td>
            <td>Português</td>
            <td>Informática</td>
            <td>85-7194-845-3</td>
            <td>303.483</td>
            <td>I</td>
            <td>6</td>
            <td>Livro de Programação</td>
            <td>
                <!--Botões-->
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-warning" asp-controller="Livro" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger"  asp-controller="Livro" asp-action="Apagar">Apagar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

</div>

